{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="wrapper_subscribe">
    <div id="form_wrapper">
        <!-- <img style="max-height:75px;max-width:75px" id="Arnastria-logo" src="https://files.catbox.moe/eizfai.png"> -->
        <i class="fas fa-paper-plane"></i>
        <h1>Subscribe to Arnastria Web</h1>
        <form id="form_schedule" method="POST">
            {% csrf_token %}
            {{Form.as_p}}
        <button id="button_subscribe" type = "submit" class = "btn btn-primary" disabled>Subscribe me</button>
        </form>
    </div>
    <div id="loading-table" style="text-align:center; padding:1% 2%;display:none">
        <img id="loading-image" src="{% static 'images/loader2.gif' %}" alt="Loading..." />
    </div>
    <div class="table-wrapper">
        <div class="table-responsive">
            <table id="table-result" class="table">
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th style="text-align:right">Unsubscribe Button</th>
                    </tr>
                </thead>
                <tbody id="result">
                    
                </tbody>
            </table>
        </div>
    </div>
</div>      
<!-- Bootstrap Modal -->
<div class="modal fade" id="ModalEmail" tabindex="-1" role="dialog" aria-labelledby="ModalEmail" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="ModalEmailTitle">Ooof !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modalBodySubscribe">
        This Email has been registered, please user another email.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
    </div>
</div>
</div>
<!-- Bootstrap Modal Delete-->
<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="ModalDelete" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalDeleteTitle">Are you sure want to unsubscribe ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="modalBodyDelete">
            <div id="deleteConfirmDiv" style="text-align:center">
                <img src="https://media.giphy.com/media/5xaOcLwEvFOizxHVyVy/200w_d.gif">
                <p id="deleteConfirmP">Please type your password</p>
            </div>
            <input id="deleteConfirmPassword" type="password" class="form-control" placeholder="Password">
            <button id="deleteConfirmButton" type="button" class="btn btn-danger">Confirm</button>
        </div>
        </div>
    </div>
    </div>
{% endblock content %}
{% block script %}
<script src="{% static 'javascript/login-behaviour.js'%}"></script>
{% endblock script %}