{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="home_wrapper">
    <div id="home_center">
        {%if user.is_authenticated%}
        <p><b>{{welcome_message}} {{user.username}}</b><br>Web Arnastria</p>
        {%else%}
        <p><b>{{welcome_message}}</b><br>Web Arnastria</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'javascript/behaviour.js'%}"></script>
{% endblock script %}