{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div id="board_title">
        <h1>Message Board</h1>
        <p>You can leave a message here</p>
    </div>
    <div class = "row">
        
        <div class="col-md" id="col_form">
            <div class="wrapper-col-content">
                <form id="form_schedule" method="POST" action="{% url 'submit_message' %}">
                {% csrf_token %}
                {{Form}}
                <br>
                <button id="submit_btn" type = "submit" class = "btn btn-primary">Send Message</button>
            </div>
        </div>
        <div class="col-md" id="col_table">
            <div class="wrapper-col-content">
                <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Nama</th>
                        <th scope="col">Pesan</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for Message in Message_list reversed%}
                      <tr>                
                        <td>{{Message.name}}</td>
                        <td>{{Message.message}}</td>
                        <td>{{Message.time}}</td>
                      </tr>
                    {%endfor%}
                    </tbody>
                  </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'javascript/behaviour.js'%}"></script>
{% endblock script %}