{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="wrapper-profile">
        <img id="Arnastria-logo" src="https://files.catbox.moe/eizfai.png">
        <h2>Ariq Naufal Satria (Arnastria)</h2>
        <span><b>Developer</b>, 28 Sept</span><br>
        <span><b>1706027414</b></span>
        <div id="accordion">
            <h3>Current Activities</h3>
            <div class="accordion-inside">
                <p>Currently a Computer Science sophomore at University of Indonesia,
                    majoring <b>Information Systems</b>. A Member at Research and Technology club
                    called RISTEK in my uni, to be specific at special interested group of <b>Mobile Development</b>.
                    Busy ?  of course ! but just like they said <b>"Everyday is your day!"</b>.
                </p>
            </div>
            <h3>Experiences</h3>
            <div class="accordion-inside">
                <h4>2018</h4>
                <ul>
                    <li>IT Audit Internship, Mandiri Tbk.</li>
                    <li>Teaching Assitant of Discrete Mathematics, University of Indonesia</li>
                    <li>Junior Member Mobile App SIG, RISTEK Fasilkom UI</li>
                </ul>
                <h4>2017</h4>
                <ul>
                    <li>Visual Design Staff : Computers Get Together 2018</li>
                    <li>Visual Design Staff : Bimbingan Belajar Gratis Fasilkom UI</li>
                </ul>
            </div>
            <h3>Achievements</h3>
            <div class="accordion-inside">
                <div style="text-align : center">
                    <img src="https://media.giphy.com/media/20k1punZ5bpmM/200w_d.gif">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'javascript/behaviour.js'%}"></script>
{% endblock script %}