{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="mal_list_wrapper">
    <div id="table_wrapper">
        <div style="text-align:center">
            <h1>Search Page</h1>
            {%if user.is_authenticated%}
            <h2>Hello, {{user.username}}</h2>
            <a class="btn btn-danger" href="{% url 'logoutDjango' %}">Log out</a>
            {%else%}
            <a class="btn btn-dark" href="{% url 'social:begin' 'google-oauth2' %}">Login Google</a>
            {%endif%}
            <br>
            <label>Favorite Counter :</label>
            <label id="counter"></label>
        </div>
        <div style="margin:0 15%">
            <input class="form-control" id="inputQuery" placeholder="Search your title here">
        </div>
        <div style="text-align:center; padding:1% 2%">
            <div id="btnStory" class="btn btn-primary">Search Google Book</div>
            <div id="btnMAL" class="btn btn-dark">Search MyAnimeList</div>
        </div>        
        <div id="loading-table" style="text-align:center; padding:1% 2%;display:none">
            <img id="loading-image" src="{% static 'images/loader2.gif' %}" alt="Loading..." />
        </div>
        <div class="table-wrapper">
            <div class="table-responsive">
                <table id="table-result" class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Authors</th>
                            <th scope="col">Description</th>
                            <th scope="col">Cover</th>
                            <th scope="col">Favorite</th>
                        </tr>
                    </thead>
                    <tbody id="result">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'javascript/ajax-behaviour.js'%}"></script>
{% endblock script %}