{% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'redirect' %}">Arnastria</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>     
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'message_board' %}">Message Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Portofolio</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <div class="wrapper-switch">
            <div>
                <label class="switch">
                    <input id="theme-checkbox02" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
      </div>
    </div>
</nav>