{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
        Crowd
        {% endblock title %}
    </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="main_div">
    {% block content %}
    {% endblock content %}
    </div>
    
    <div id="bottom_div">
        
    </div>

</body>
</html>